* {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.warningNote {
  color: red;
}

input,
select {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 0;
}

select {
  cursor: pointer;
}

input:invalid {
  color: red;
  font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  gap: 50px;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
}

  header {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
    header img {
      height: 2.5em;
      vertical-align: middle;
      margin-right: 40px;
    }

  #dlpGraphic {
    width: 35%;
    position: relative;
  }

  .assetsSource {
    text-align: center;
    color: gray;
    font-style: italic;
  }

  content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

    fieldset {
      border: 2px solid #ccc;
      padding: 10px;
    }

      .fieldRow {
        display: flex;
        flex-direction: row;
        padding: 5px 10px;
        align-items: center;
        gap: 0.5em;
      }

  #signatureContainer {
    display: flex;
    width: 100%;
    justify-content: right;
  }

  #signature {
    color: gray;
  }
